/*---------------------------------------Generelt--------------------------------------*/

* {
    margin: 0px;
    font-size: 62.5%;
}

/*Animationer*/

.hidden {
    opacity: 0;
}
#links {
    transition: transform 0.3s;
    transform-origin: top left;
}
#menuknap {
    cursor: pointer;
    font-size: 50px;
    margin-top: -20px;
}
  html {
            background-color: #FFD067;
            font-size: 1.6rem;
            font-family: 'Merriweather', serif;
        }

/*---------------------------------------mobil media--------------------------------------*/

@media only screen and (max-width: 800px) {
    nav {
        display: grid;
        height: 30px;
        grid-auto-flow: column;
        background-color: #FFFFFF;
        grid-gap: 1em;
        padding: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        position: relative;
    }
    #links {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 30px;
        padding-bottom: 115px;
        font-size: 3px;
    }
    nav a {
        font-size: 4.5em;
        color: black;
        text-decoration: none;
        text-align: center;
    }
    nav a:hover {
        color: #0045C7;
    }
    footer {
        display: grid;
        justify-content: center;
        align-content: center;
        position: fixed;
        height: 2em;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        font-size: 1em;
    }
    h2 {
        font-family: 'Henny Penny', cursive;
        font-size: 5em;
        font-weight: 500;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    #border {
        border: black 4px dotted;
    }
    h3 {
        margin-top: 2px;
        font-family: 'Merriweather', serif;
        text-align: center;
        font-size: 7em;
        font-weight: 100;
        margin-bottom: 2em;
    }
    h4 {
        margin-top: 2em;
        font-family: 'Merriweather', serif;
        text-align: center;
        font-size: 5em;
        margin-bottom: 0.5px;
    }
    .col p {
        font-size: 4.5em;
        line-height: 1.4;
        margin-bottom: 20px;
    }
     a {
                font-size: 1.5em;
            }
}

/*---------------------------------------tablet media--------------------------------------*/

@media screen and (max-width: 1100px) and (min-width: 800px) {
    #menuknap {
        display: none;
    }
    #links.hidden {
        transform: translateX(0);
        opacity: 1;
    }
    nav {
        display: grid;
        height: 55px;
        grid-auto-flow: column;
        background-color: #FFFFFF;
        grid-gap: 1em;
        padding: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        position: relative;
    }
    #links {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 40em;
        padding-bottom: 115px;
    }
    nav a {
        font-size: 4.5em;
        color: black;
        text-decoration: none;
        text-align: center;
    }
    nav a:hover {
        color: #0045C7;
    }
    footer {
        display: grid;
        justify-content: center;
        align-content: center;
        position: fixed;
        height: 2em;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        font-size: 1em;
    }
    h2 {
        font-family: 'Henny Penny', cursive;
        font-size: 5em;
        font-weight: 500;
        padding-bottom: 20px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
    #border {
        border: black 4px dotted;
    }
    h3 {
        margin-top: 2em;
        font-family: 'Merriweather', serif;
        text-align: center;
        font-size: 7em;
        font-weight: 100;
        margin-bottom: 2em;
    }
    h4 {
        margin-top: 2em;
        font-family: 'Merriweather', serif;
        text-align: center;
        font-size: 5em;
        margin-bottom: 0.5px;
    }
    .col p {
        font-size: 5em;
        line-height: 1.4;
        margin-bottom: 20px;
    }
     a {
                font-size: 2em;
            }
}

/*---------------------------------------desktop media-------------------------------------*/

@media only screen and (min-width: 1100px) {
    #menuknap {
        display: none;
    }
    #links.hidden {
        transform: translateX(0);
        opacity: 1;
    }
    nav {
        display: grid;
        height: 55px;
        grid-auto-flow: column;
        background-color: #FFFFFF;
        grid-gap: 1em;
        padding: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        position: relative;
    }
    #links {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 40em;
        padding-bottom: 115px;
    }
    nav a {
        font-size: 4.5em;
        color: black;
        text-decoration: none;
        text-align: center;
    }
    nav a:hover {
        color: #0045C7;
    }
    footer {
        display: grid;
        justify-content: center;
        align-content: center;
        position: fixed;
        height: 2em;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        font-size: 1em;
    }
    h2 {
        font-family: 'Henny Penny', cursive;
        font-size: 5em;
        font-weight: 500;
        padding-bottom: 20px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
    #border {
        border: black 4px dotted;
    }
    h3 {
        margin-top: 2em;
        font-family: 'Merriweather', serif;
        text-align: center;
        font-size: 7em;
        font-weight: 100;
        margin-bottom: 2em;
    }
    h4 {
        margin-top: 2em;
        font-family: 'Merriweather', serif;
        text-align: center;
        font-size: 5em;
    }
    .col p {
        font-size: 5em;
        line-height: 1.4;
        margin-bottom: 20px;
        margin-left: 12px;
        margin-right: 12px;
    }
    a {         font-size: 2em;
            }
}

/*------------------------------------------- animationer-------------------------------*/

.flyv {
    animation-name: flyv_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
}
@keyframes flyv_kf {
    0% {
        transform: translateX(-40vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0vw);
        opacity: 1;
    }
}
