/*---------------------------------------Generelt--------------------------------------*/

* {
    margin: 0px;
    font-size: 62.5%;
}
img {
    width: 100%;
    height: auto;
    padding-bottom: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
html {
    background-color: #FFD067;
    font-size: 1.6rem;
    font-family: 'Merriweather', serif;
}



/*---------------------------------------mobil media--------------------------------------*/

@media only screen and (max-width: 800px) {

}

/*---------------------------------------tablet media--------------------------------------*/

@media screen and (max-width: 1100px) and (min-width: 800px) {

}

/*---------------------------------------desktop media-------------------------------------*/

@media only screen and (min-width: 1100px) {

    img {
        width: 100%;
        height: auto;
    }
}


